.profile {
    max-width: 880px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 910px) {
    .profile {        
        max-width: 580px;
    }
}

@media screen and (max-width: 586px) {
    .profile {
        max-width: 282px;
        flex-direction: column;
        padding-top: 42px;
    }
}