.header__logo {
    width: 142px;
    height: 33px;
    background-image: url(../../../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}

@media screen and (max-width: 985px) {
    .header__logo {
        height: 24.4px;
        max-width: 103.74px;
    }
}

.header__logo:hover {
    opacity: 0.6;
    transition: 1s;
}