.profile__edit-btn {
    margin-left: 18px;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    background: none;
    background-image: url(../../../images/PenM.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
    cursor: pointer;
    position: relative;
}

.profile__edit-btn:hover {
    opacity: 0.6;
    transition: opacity .2s;
}

@media screen and (max-width: 450px) {
    .profile__edit-btn {
        width: 18px;
        height: 18px;
        margin-left: 10px;
        background-image: url(../../../images/PenS.svg);
    }   
}