.popup__form {
    margin: 0 auto;
    width: 430px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .popup__form {
        width: 282px;
    }
}